@import "../../common/colors.scss";

.header {
  background-color: $secondaryColor;
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search {
    width: 30vw;
    height: 8vh;
    display: flex;
    min-height: 40px;
    // justify-content: space-between;
    // background-color: aquamarine;
    input {
      height: 100%;
      width: 85%;
      border: none;
      padding: 0 10px;
      &:focus {
        outline: none;
      }
    }

    button {
      height: 100%;
      width: 15%;
      border: none;
      background-color: #fff;
      cursor: pointer;
      &:active {
        color: $quartzColor;
      }
    }
  }
}
.logo {
  color: $quartzColor;
  font-size: 20px;
  font-weight: 600;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}
